services:
  ros2_sim:
    profiles: ["sim"]
    build:
      context: .
      dockerfile: Dockerfile.pc
      args:
        TARGET_ARCH: x86
        ROS_DISTRO: humble
        USERNAME: dev
        USER_UID: 1000
        USER_GID: 1000
        WORKSPACE: /workspace/ros2_ws
    image: ros2_pc
    container_name: ros2_sim
    network_mode: host
    runtime: nvidia
    env_file: .env
    environment:
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: ${QT_X11_NO_MITSHM}
      ROS_DOMAIN_ID: ${ROS_DOMAIN_ID}
      RMW_IMPLEMENTATION: ${RMW_IMPLEMENTATION}
      FASTDDS_DEFAULT_PROFILES_FILE: /dds/fastdds.xml
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: all

    devices:
      - /dev/dri:/dev/dri

    volumes:
      - ${ROS_WORKSPACE_PC}:/workspace/ros2_ws
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["bash", "-c", "sleep infinity"]

  ros2_robot:
    profiles: ["robot"]
    build:
      context: .
      dockerfile: Dockerfile.jetson
      args:
        TARGET_ARCH: arm
        ROS_DISTRO: humble
        USERNAME: dev
        USER_UID: 1000
        USER_GID: 1000
        WORKSPACE: /workspace/ros2_ws
    image: ros2_jetson
    container_name: ros2_robot
    network_mode: host
    runtime: nvidia
    env_file: .env
    privileged: true
    group_add:
      - dialout
      - "44"
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - FASTDDS_DEFAULT_PROFILES_FILE=/dds/fastdds.xml
    devices:
      - /dev/video0:/dev/video0
    volumes:
      - ${ROS_WORKSPACE_JETSON}:/workspace/ros2_ws
      - /dev/ttyUSB0:/dev/ttyUSB0
    #command: ["bash", "-c", "sleep infinity"]
    command: ["sleep", "infinity"]
